main{
    color:aqua;
    text-align: center;
    background-color: violet;
    & form {
        padding: 100px;
        align-items: center;
    }
    & img {
        animation-name: cambios;
        animation-duration: 5s;
    }
    
    @keyframes cambios{
        0%{
        transform: scale(0);
        }
        25%{
        transform: scale(0.3);
        }
        50%{
        transform: scale(0.7);
        }
        75%{
        transform: scale(1);
        }
    }
    & p{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        color: aqua;
        padding: 20px;
        margin: 30px;
    }





}